.body {
    padding: 20px;
}

.card-details {
    padding: 15px;
    text-align: center;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition properties */
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
    gap: 30px;

}

.card:hover {
    transform: scale(0.95); /* Reduce scale for a slower hover effect */
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#image-card {
    width: 100%;
    height: 200px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-description {
    font-size: 14px;
    margin-bottom: 10px;
}

.card-price {
    font-size: 16px;
    margin-bottom: 10px;
}

.add-to-cart-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: #0056b3;
}

.slick-slide img {
    width: 100%;
    height: auto;
}

.slick-prev,
.slick-next {
    color: #007bff;
    font-size: 24px;
}

.slick-prev:hover,
.slick-next:hover {
    color: #0056b3;
}

.slick-dots li button:before {
    color: #007bff;
}

.slick-dots li.slick-active button:before {
    color: #0056b3;
}
@media (max-width: 470px) {
    .carousel-container {
        display: none;
    }
    
   
}