/* Header.css */

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    margin: 0;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.user-section {
    display: flex;
    align-items: center;
}

.user-name {
    margin-right: 10px;
}

.logout-btn {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #fff;
    color: #333;
}

.user-section {
    display: flex;
    column-gap: 20px;
}

/* Responsive Styles */

@media (max-width: 768px) {
    
    
    .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }
  
}

@media (max-width: 470px) {
    .logo {
        font-size: 14px;
    }
    
    .nav-link {
        font-size: 16px;
    }
    .nav-list {
        display: none;
    }
    .user-section{
        display: none;
     }
}
